@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply pt-8 mt-12 border-t border-gray-200 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.logo_svg__c-style {
  @apply fill-current;
  @apply dark:fill-current;
}

.color-picker input,
.color-picker input + label {
  @apply h-6 w-16 rounded-md text-center !important;
}

/* .sketch-picker {
  width: 400px !important;
} */

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

main {
  min-height: calc(100vh - 170px);
}

#wheel {
  background: radial-gradient(
      circle at 50% 0,
      red,
      rgba(242, 13, 13, 0.8) 10%,
      rgba(230, 26, 26, 0.6) 20%,
      rgba(204, 51, 51, 0.4) 30%,
      rgba(166, 89, 89, 0.2) 40%,
      hsla(0, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 85.35533905932738% 14.644660940672622%,
      #ffbf00,
      rgba(242, 185, 13, 0.8) 10%,
      rgba(230, 179, 26, 0.6) 20%,
      rgba(204, 166, 51, 0.4) 30%,
      rgba(166, 147, 89, 0.2) 40%,
      hsla(0, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 100% 50%,
      #80ff00,
      rgba(128, 242, 13, 0.8) 10%,
      rgba(128, 230, 26, 0.6) 20%,
      rgba(128, 204, 51, 0.4) 30%,
      rgba(128, 166, 89, 0.2) 40%,
      hsla(0, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 85.35533905932738% 85.35533905932738%,
      #00ff40,
      rgba(13, 242, 70, 0.8) 10%,
      rgba(26, 230, 77, 0.6) 20%,
      rgba(51, 204, 89, 0.4) 30%,
      rgba(89, 166, 108, 0.2) 40%,
      hsla(0, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 50.00000000000001% 100%,
      #0ff,
      rgba(13, 242, 242, 0.8) 10%,
      rgba(26, 230, 230, 0.6) 20%,
      rgba(51, 204, 204, 0.4) 30%,
      rgba(89, 166, 166, 0.2) 40%,
      hsla(0, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 14.64466094067263% 85.35533905932738%,
      #0040ff,
      rgba(13, 70, 242, 0.8) 10%,
      rgba(26, 77, 230, 0.6) 20%,
      rgba(51, 89, 204, 0.4) 30%,
      rgba(89, 108, 166, 0.2) 40%,
      hsla(0, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 0 50.00000000000001%,
      #7f00ff,
      rgba(128, 13, 242, 0.8) 10%,
      rgba(128, 26, 230, 0.6) 20%,
      rgba(128, 51, 204, 0.4) 30%,
      rgba(128, 89, 166, 0.2) 40%,
      hsla(0, 0%, 50%, 0) 50%
    ),
    radial-gradient(
      circle at 14.644660940672615% 14.64466094067263%,
      #ff00bf,
      rgba(242, 13, 185, 0.8) 10%,
      rgba(230, 26, 179, 0.6) 20%,
      rgba(204, 51, 166, 0.4) 30%,
      rgba(166, 89, 147, 0.2) 40%,
      hsla(0, 0%, 50%, 0) 50%
    );
}

#wheel2 {
  background: radial-gradient(
      circle at 50% 0%,
      hsla(10, 100%, 50%, 0.7) 0%,
      hsla(10, 0%, 50%, 0) 43%
    ),
    radial-gradient(circle at 69.1% 3.8%, hsla(32.5, 100%, 50%, 0.7) 0%, hsla(32.5, 0%, 50%, 0) 43%),
    radial-gradient(circle at 85.4% 14.6%, hsla(55, 100%, 50%, 0.7) 0%, hsla(55, 0%, 50%, 0) 43%),
    radial-gradient(
      circle at 96.2% 30.9%,
      hsla(77.5, 100%, 50%, 0.7) 0%,
      hsla(77.5, 0%, 50%, 0) 43%
    ),
    radial-gradient(circle at 100% 50%, hsla(100, 100%, 50%, 0.7) 0%, hsla(100, 0%, 50%, 0) 43%),
    radial-gradient(
      circle at 96.2% 69.1%,
      hsla(122.5, 100%, 50%, 0.7) 0%,
      hsla(122.5, 0%, 50%, 0) 43%
    ),
    radial-gradient(circle at 85.4% 85.4%, hsla(145, 100%, 50%, 0.7) 0%, hsla(145, 0%, 50%, 0) 43%),
    radial-gradient(
      circle at 69.1% 96.2%,
      hsla(167.5, 100%, 50%, 0.7) 0%,
      hsla(167.5, 0%, 50%, 0) 43%
    ),
    radial-gradient(circle at 50% 100%, hsla(190, 100%, 50%, 0.7) 0%, hsla(190, 0%, 50%, 0) 43%),
    radial-gradient(
      circle at 30.9% 96.2%,
      hsla(212.5, 100%, 50%, 0.7) 0%,
      hsla(212.5, 0%, 50%, 0) 43%
    ),
    radial-gradient(circle at 14.6% 85.4%, hsla(235, 100%, 50%, 0.7) 0%, hsla(235, 0%, 50%, 0) 43%),
    radial-gradient(
      circle at 3.8% 69.1%,
      hsla(257.5, 100%, 50%, 0.7) 0%,
      hsla(257.5, 0%, 50%, 0) 43%
    ),
    radial-gradient(circle at 0% 50%, hsla(280, 100%, 50%, 0.7) 0%, hsla(280, 0%, 50%, 0) 43%),
    radial-gradient(
      circle at 3.8% 30.9%,
      hsla(302.5, 100%, 50%, 0.7) 0%,
      hsla(302.5, 0%, 50%, 0) 43%
    ),
    radial-gradient(circle at 14.6% 14.6%, hsla(325, 100%, 50%, 0.7) 0%, hsla(325, 0%, 50%, 0) 43%),
    radial-gradient(
      circle at 30.9% 3.8%,
      hsla(347.5, 100%, 50%, 0.7) 0%,
      hsla(347.5, 0%, 50%, 0) 43%
    ),
    hsla(0, 0%, 50%, 1);
}

#wheel3 {
  background: conic-gradient(
      hsl(0, 100%, 50%),
      hsl(30, 100%, 50%),
      hsl(60, 100%, 50%),
      hsl(90, 100%, 50%),
      hsl(120, 100%, 50%),
      hsl(150, 100%, 50%),
      hsl(180, 100%, 50%),
      hsl(210, 100%, 50%),
      hsl(240, 100%, 50%),
      hsl(270, 100%, 50%),
      hsl(300, 100%, 50%),
      hsl(330, 100%, 50%),
      hsl(360, 100%, 50%)
    ),
    hsla(0, 0%, 50%, 1);
}

#hue {
  background: linear-gradient(
    to right,
    rgb(255, 0, 0) 0%,
    rgb(255, 255, 0) 17%,
    rgb(0, 255, 0) 33%,
    rgb(0, 255, 255) 50%,
    rgb(0, 0, 255) 67%,
    rgb(255, 0, 255) 83%,
    rgb(255, 0, 0) 100%
  );
}

/* For modern browsers supporting webkit */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Remove default appearance */
  margin: 0; /* Remove default margin */
}

.conic-gradient-animation {
  transition: background 1s ease-in-out;
}

.fill-none {
  fill: none;
}

.stroke-current {
  stroke: currentColor;
}

.demos-grid,
.themes-demos-grid {
  grid-template-columns: 1fr;
  grid-template-areas:
    'a'
    'b'
    'c'
    'd'
    'e'
    'f'
    'g'
    'h'
    'i';
}

.grid-a {
  grid-area: a;
}
.grid-b {
  grid-area: b;
}
.grid-c {
  grid-area: c;
}
.grid-d {
  grid-area: d;
}
.grid-e {
  grid-area: e;
}
.grid-f {
  grid-area: f;
}
.grid-g {
  grid-area: g;
}
.grid-h {
  grid-area: h;
}
.grid-i {
  grid-area: i;
}

.box-shadow-grid {
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    'a'
    'b'
    'c';
}

.themes-demos-grid {
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    'a'
    'b'
    'c'
    'd'
    'e'
    'f';
}

@media (min-width: 768px) {
  .demos-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'a a a a'
      'b b e e'
      'g g f f'
      'c h h h'
      'd i i i';
  }
  .box-shadow-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'a b'
      'c d';
  }
  .themes-demos-grid {
    grid-template-columns: repeat(2 1fr);
    grid-template-areas:
      'a b'
      'c d'
      'e f';
  }
}

@media (min-width: 1024px) {
  .demos-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'a a a a b b'
      'a a a a c d'
      'e e f f g g'
      'h h h i i i';
  }

  .box-shadow-grid {
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: 'a a b b b b c c c';
  }

  .themes-demos-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'a b c'
      'd e f';
  }
}

.tooltipanchor {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.scaleIn {
  animation: scaleIn;
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: rotateX(0) scale(1);
  }
}

@keyframes scaleOut {
  0% {
    opacity: 1;
    transform: rotateX(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.8);
  }
}

.cr-color-name-label-v {
  left: calc(50% - 0.5rem);
  line-height: 1;
  padding-top: 0.5rem;
  position: relative;
  transform: rotate(180deg);
  white-space: nowrap;
  writing-mode: vertical-rl;
}

/* cancel the vertical */
.cr-color-name-label-h{
  writing-mode: horizontal-tb;
  transform: rotate(0deg);
  
}
